@import "tailwindcss";

:root {
  --bg-main: #f8fafc;
  --bg-card: #FCF1D0;
  --text-main: #010736;
  --text-muted: #22396F;
  --accent: #0F4C75;
}
.dark {
  --bg-main: #1B262C;
  --bg-card: #0F4C75;
  --text-main: #BBE1FA;
  --text-muted: #94a3b8;
  --accent: #3282B8;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}